.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 210px;
    gap: 80px;
}

.experience-title h1{
    font-size: 50px;
    font-weight: 600;
    padding: 0px 30px;
}

.experience-section{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.experience-uofc{
    display: flex;
    gap: 60px;
    align-items: center;
}

.experience-linestar{
    display: flex;
    gap: 60px;
    align-items: center;
}

.experience-uofc img{
    width: 180px;
    transition: 0.3s ease-out;
}

.experience-linestar img{
    width: 180px;
    border-radius: 50%;
    transition: 0.3s ease-out;
}

.experience-uofc img:hover{
    transform: scale(1.14);
    cursor: pointer;
    filter: drop-shadow(0 0 5px #659543);
}

.experience-linestar img:hover{
    transform: scale(1.14);
    cursor: pointer;
    filter: drop-shadow(0 0 5px #1818db);
}

.uofc-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linestar-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.uofc-details h2{
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(270deg, #c62879 80%, #675497 100.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.uofc-details h2:hover{
    border-bottom: 2px dashed #675497;
}

.uofc-details h3{
    font-size: 16px;
    font-weight: 400;
}

.uofc-details h3:hover{
    text-decoration: underline;
}

.uofc-details h4{
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s;
}

.uofc-details h4:hover{
    color: #28c65f;
    cursor: pointer;
}

.linestar-details h2{
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(270deg, #c62879 80%, #675497 100.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.linestar-details h2:hover{
    border-bottom: 2px dashed #675497;
}

.linestar-details h3{
    font-size: 16px;
    font-weight: 400;
}

.linestar-details h3:hover{
    text-decoration: underline;
}

.linestar-details h4{
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s;
}

.linestar-details h4:hover{
    color: #28c65f;
    cursor: pointer;
}

@media(max-width:810px){
    .experience{
        margin: 60px;
        gap: 60px;
    }  
    
    .experience-title h1{
        font-size: 44px;
        padding: 0;
    }

    .experience-section{
        gap: 35px;
    }

    .experience-uofc img{
        width: 140px;
    }

    .experience-uofc img:hover{
        transform: scale(1.18);
    }

    .experience-linestar img{
        width: 140px;
    }

    .experience-linestar img:hover{
        transform: scale(1.18);
    }

    .uofc-details{
        gap: 10px;
    }

    .linestar-details{
        gap: 10px;
    }

    .uofc-details h2, .linestar-details h2{
        font-size: 17px;
    }

    .uofc-details h3, .linestar-details h3{
        font-size: 15px;
    }

    .uofc-details h4, .linestar-details h4{
        font-size: 16px;
    }

    .uofc-details h4:hover, .linestar-details h4:hover{
        border-bottom: 1px solid #28c65f;
    }

    .uofc-details h2:hover, .linestar-details h2:hover{
        border-bottom: 1px dashed #675497;
    }
}

@media(max-width:768px){
    .experience{
        margin: 50px;
        gap: 50px;
    }

    .experience-title h1{
        font-size: 40px;
        padding: 0;
    }

    .experience-section{
        gap: 30px;
    }

    .experience-uofc img{
        width: 130px;
    }

    .experience-uofc img:hover{
        transform: scale(1.12);
    }

    .experience-linestar img{
        width: 130px;
    }

    .experience-linestar img:hover{
        transform: scale(1.12);
    }

    .uofc-details{
        gap: 8px;
    }

    .linestar-details{
        gap: 8px;
    }

    .uofc-details h2, .linestar-details h2{
        font-size: 16px;
    }

    .uofc-details h3, .linestar-details h3{
        font-size: 14px;
    }

    .uofc-details h4, .linestar-details h4{
        font-size: 15px;
    }

    .uofc-details h4:hover, .linestar-details h4:hover{
        border-bottom: 1px solid #28c65f;
    }

    .uofc-details h2:hover, .linestar-details h2:hover{
        border-bottom: 1px dashed #675497;
    }
}

@media(max-width:413px){
    .experience-uofc img{
        width: 100px;
    }

    .experience-linestar img{
        width: 100px;
    }

    .experience-uofc{
        gap: 20px;
    }

    .experience-linestar{
        gap: 20px;
    }

    .uofc-details h2{
        font-size: 14px;
    }

    .uofc-details h3{
        font-size: 9.3px;
    }

    .uofc-details h4{
        font-size: 9px;
    }

    .linestar-details h2{
        font-size: 14px;
    }

    .linestar-details h3{
        font-size: 9.3px;
    }

    .linestar-details h4{
        font-size: 9px;
    }
}

